ion-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: auto;
  padding: 10px;
  position: sticky;
  bottom: 0;
}

.pagination-container ion-button,
.pagination-container button {
  margin: 0 5px;
}