<ion-menu side="start" menuId="first" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <app-side-nav></app-side-nav>
  </ion-content>
</ion-menu>

<ion-menu side="end" menuId="profile-menu" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Profile Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <app-profile-nav></app-profile-nav>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>
        <ion-icon [name]="currentPageIcon"></ion-icon>
        {{ currentPageTittle }}
      </ion-title>
      <ion-buttons slot="start">
        <ion-menu-button menu="first"></ion-menu-button>
      </ion-buttons>
      <!-- Location selection for all users -->
      <div slot="end">
        <!-- If super admin, show search dropdown with all locations -->
        <ng-container *ngIf="isSuperAdmin">
          <ion-item>
            <ion-button fill="clear" (click)="presentPopover($event)">
              {{ selectedLocation?.name ? selectedLocation?.name : 'Select Location' }}
            </ion-button>
          </ion-item>
        </ng-container>
        <!-- Regular users select from their locations in the token -->
      </div>

      <!-- Profile menu -->
      <ion-buttons slot="end">
        <ion-button (click)="openProfileMenu()">
          <ion-icon name="person-circle-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <router-outlet></router-outlet>
  </ion-content>
</div>
